.header-color {
  background: #42e695;
  background:linear-gradient(135deg, #42e695 0%,#3bb2b8 100%);
}

/* Landing */
.landing-grid {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.avatar {
  text-align: center;
  margin-top: 100px;
}

.card {
  
}

.card h3, p {
  text-align: center;
}

.social {
  display: flex;
  justify-content: space-between;
  width: 20%;
  margin: auto;
}

.social i {
  font-size: 30px;
  color: #42e695;
}

/* Projects */
.projects-grid {
  display: flex;
}

.category-tabs {
  margin-top: 100px;
}